#MCP host
MCP_HOST='localhost'
MCP_PORT='8001' 
MCP_URL=http://${MCP_HOST}:${MCP_PORT}/mcp

#DB connection
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_USER="root"
MYSQL_PASSWORD="root"
MYSQL_DATABASE="python_dummy"

OPENAI_API_KEY='sk-kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk'
OPENAI_MODEL='gpt-3.5-turbo'